{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h2 class="text-center" style="margin-bottom: 5rem;">A propos</h2>
    <br>
    <div class="text-center">
        <p>Un concept simple : tous les matins 10h une nouvelle photo, une nouvelle fracture de l’oeil.

        Le site qui vous donnera envie de vous rafraichir !</p>
    </div>
{% endblock body %}