{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="card mb-3" style="width: 35rem; margin: auto;">
        <h3 class="card-header">La bière blonde</h3>
        <img style="height: 100%; width: 100%; display: block;" src="https://static.mensup.fr/photo_article/110038/63203/1200-L-des-bires-diffrencier.jpg" alt="Card image">
        <div class="card-body">
            <p class="card-text">Aussi rafraichissante, qu'agréable !</p>
        </div>
        <div class="card-footer text-muted">
            Proposée par Mike
        </div>
    </div>
{% endblock body %}